.overview-top{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 30px;
}
.ticket-stats-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 30px auto;
}